- if logged_in?
  .row
    %aside.col-md-4
      %section.user_info
        = render 'shared/user_info'
      .center.jumbotron
        = link_to "CREATE A POST", new_micropost_path
- else
  %h1 Home
  .center.jumbotron
    = link_to "Sign up", signup_path, class: "btn btn-lg btn-primary"
    = link_to "Sign in", login_path, class: "btn btn-lg btn-primary"
