- if logged_in?
  .row
    %aside.col-md-4
      %section.user_info
        = render 'shared/user_info'
      %section.micropost_form
        = render 'shared/micropost_form'
- else
  %h1 Home
  .center.jumbotron
    = link_to "Benutzerkonto erstellen", signup_path, class: "btn btn-lg btn-primary"
    = link_to "Anmelden", login_path, class: "btn btn-lg btn-primary"
