<h1>Home</h1>
<div class="center jumbotron">
    <%= link_to "Benutzerkonto erstellen", signup_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Anmelden", login_path, class: "btn btn-lg btn-primary" %>
</div>