// const webpack = require("webpack");

// module.exports = {
//   context: __dirname + "/app/javascript/packs",

//   entry: {
//     application: ["application.js"],
//   },

//   output: {
//     path: __dirname + "/public/packs",
//   },
// };
module: {
    loaders: [
        {
        }
    ]
    externals: {
      // require("jquery") is external and available
      //  on the global var jQuery
      "jquery": "jQuery"
    }

}

const webpack = require("webpack");

// module.exports = {
//   context: __dirname + "/app/javascript/packs",

//   entry: {
//     application: ["application.js"],
//   },

//   output: {
//     path: __dirname + "/app/assets/javascript",
//   },
// };