<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.name %></h1>
    <p>
      You have successfully signed up to example.com,
      your username is: <%= @user.name %>.<br>
      your default password is : <%= @user.defaultpw %> <br>
      please follow this <%= link_to 'link', "http://localhost:3000/users/verification?id=#{@user[:id]}" %> and create a new password to verify your account. 
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>