<% provide(:title, "All Users") %>

  <div class="row">
    <section class="user_info">
      <ul class="index">
        <% @users.each do |user| %>
          <%= user.name %><br/>
          <%= user.email %><br/>
          <%= gravatar_for user %><br/>
          <%= link_to "delete user", user_path(user), method: :delete, class: "btn btn-lg btn-primary" %>
        <% end %>
      </ul>
    </section>
</div>
